.data-modeling-table {
    width: 100%;
}

.data-modeling-table td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.features-table {
  height: 590px;
  overflow-y: scroll;
}

.draggable {
	background: #8ac3e0;
	z-index: 1000;
}

.data-modeling-table tr:nth-child(even) > .draggable{
    background-color: #FFF;
}

#droppable {
	background: #dddddd;
	height: 500px;
	overflow: auto;
}

#preparedData {
	height: 200px;
	width: 200px;
	background: #FFF;
	margin: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
}

#drop-node {
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}

.start > .nodeEditor {
    margin: 30px;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#Aparams {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

.hide-IO {
	display: none;
}

.form td {
	width: 270px;
}

.form select {
	border: solid 1px #B1AEAE;
	border-radius: 5px;
	width: 75%;
	padding: 5px 2px;
}

#submit-success, 
#submit-error {
	display:none;
}

#submit-success,
#feature-success {
	color: green
} 

#submit-error, label.error {
	color: red;
}

/*#toast-container > .toast {
   background-image: none !important;
}

#toast-container > .toast:before {
   position: fixed;
   font-family: FontAwesome;
   font-size: 24px;
   line-height: 18px;
   float: left;
   color: #FFF;
   padding-right: 0.5em;
   margin: auto 0.5em auto -1.5em;
} 

#toast-container > .toast-info:before {
   content: "\f00c";
}

#toast-container > .toast-error:before {
   content: "\f00d";
}*/


#toast-container > .toast-success {
   background-color: #2F96B4;
}

.loader-features {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #44a2d6;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}



.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}