<template name='Nav'>
	<div class="row nav-bar" id="navBar">
        <div class="wizard no-margin-bottom">
            <div class="wizard-inner">
                <!-- <div class="connecting-line"></div> -->
                <ul class="nav nav-tabs kdd-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Preparación" class="preparacion">
                            <span class="round-tab">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Modelado" class="modelado">
                            <span class="round-tab">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Visualización" class="visualizacion">
                            <span class="round-tab">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
    <div class="buttons-progress padding-bottom-complete">
        <a href="#undo" data-toggle="tab" aria-controls="step3" role="tab" title="Deshacer" class="undo-btn">
            <span class="buttons-progress-span">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </span>
        </a><br>
        <a href="#save" data-toggle="tab" aria-controls="step3" role="tab" title="Guardar" class="save-btn">
            <span class="buttons-progress-span">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </span>
        </a>
    </div>
</template>