<template name='UserDataProfile'>
  <div class="dropdown login-buttons">
    <a href="#" class="dropdown-toggle capitalize" data-toggle="dropdown">{{completeName}}
    <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-left">
		<li><a href="/mi-perfil" id="myProfile" class="main-route">Mi Perfil</a></li>
		<li><a href="#" id="myProjects" class="main-route">Mis Proyectos</a></li>
		<li class="divider"></li>
  		<li><a href="#" id="logout">Cerrar Sesión</a></li>
    </ul>
  </div>
</template>