<template name="Registrer">
	<div class="row center-block row-centered">
		<div class="col-xs-10 col-sm-6 col-md-5 col-lg-4 col-centered">
			<div class='login-section'>
				<h3>Registro</h3>
				<form class='login-form'>
					<input type="text" id="name" placeholder="Nombre">
					<input type="text" id="lastName" placeholder="Apellido">
					<input type="email" id="email" placeholder="Correo">
					<input type="password" id="password" placeholder="Contraseña">
					<input type="password" id="passwordRep" placeholder="Repita contraseña">
					<div class="no-match">
						<span></span>
					</div>
<!-- 					<input type="submit" class="btn-login btn-inicio-form" value="Registrar">
					<input type="button" class="btn-login-back btn-inicio-form" value="Atrás"> -->
					<div class="text-right padding-top-mini">
						<button type="submit" class="btn btn-primary btn-login btn-inicio-form">Aceptar</button>
						<button type="button" class="btn btn-primary btn-login-to-register btn-inicio-form btn-login-back margin-left-ultra-mini">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
</template>