<template name='Login'>
	<div class="row center-block row-centered">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-centered">
			<div class='login-section'>
				<h3>Inicio</h3>
				<form class='login-form'>
					<input type="text" id="loginEmail" placeholder="Correo">
					<input type="password" id="loginPassword" placeholder="Contraseña">
					<input type="submit" class="btn-login" value="Entrar">
					<input type="button" class="btn-login-to-register" value="Registrate">
					<!-- <a href="/registro" class="registrer-user">Registrarse</a> -->
					<div class="text-right">
						<a href="#" class="text-right">Olvidé mi contraseña</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>