<template name='recoverPwd'>
	<div class="row center-block row-centered">
		<div class="col-xs-10 col-sm-6 col-md-5 col-lg-4 col-centered">
			<div class='login-section'>
				<h3>Recuperar</h3>
				<form class='login-form'>
					<input type="email" id="loginEmail" placeholder="Correo">
					<div class="padding-top-mini">
						<button type="submit" class="btn btn-primary btn-login btn-inicio-form">Recuperar</button>
						<button class="btn btn-primary btn-back btn-login-to-register btn-inicio-form btn-back-profile">Volver</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>